# Application Settings
APP_NAME="Tri9T API"
APP_ENV="development" # development, production, testing
DEBUG=true
API_V1_STR="/api/v1"

# Logging Settings
LOG_LEVEL="INFO"

# Database Settings - SQLite (SQLAlchemy Async)
SQLITE_DB_URL="sqlite+aiosqlite:///./sql_app.db"

# Database Settings - MongoDB (Motor Async)
MONGODB_URL="mongodb://localhost:27017"
MONGODB_DB_NAME="tri9t_db"
